{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de tous les projets</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Crée le </th>
                <th>Modifié le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{% if project.statut %}En cours {% else %}Terminé {% endif %}</td>
                <td>{% if project.createdat %}{{ project.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.editedat %}{{ project.editedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Créer un projet</a>
        </li>
    </ul>
{% endblock %}
